<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>拜语言调用第三方编程语言库，包括安全、访问网页、smtp邮件、获取计算机硬件信息等</Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Base Name="by" />
        <External FileName="BouncyCastle.Crypto.dll" Language="CSharp" />
        <External FileName="byExternalBase.dll" Language="CSharp">
            <Class Name="encoders" TargetFullName="byExternalBase.encoders" />
            <Class Name="hardware" TargetFullName="byExternalBase.hardware" />
            <Class Name="httpWebRequest" TargetFullName="byExternalBase.httpWebRequest" />
            <Class Name="mail" TargetFullName="byExternalBase.mail" />
            <Class Name="random" TargetFullName="byExternalBase.random" />
            <Class Name="security" TargetFullName="byExternalBase.security" />
            <Class Name="snowflake" TargetFullName="byExternalBase.snowflake" />
            <Class Name="UUID" TargetFullName="byExternalBase.UUID" />
        </External>
        <External FileName="byExternal.jar" Language="Java">
            <Class Name="encoders" TargetFullName="byExternal.encoders" />
            <Class Name="hardware" TargetFullName="byExternal.hardware" />
            <Class Name="httpWebRequest" TargetFullName="byExternal.httpWebRequest" />
            <Class Name="mail" TargetFullName="byExternal.mail" />
            <Class Name="random" TargetFullName="byExternal.random" />
            <Class Name="security" TargetFullName="byExternal.security" />
            <Class Name="snowflake" TargetFullName="byExternal.snowflake" />
            <Class Name="UUID" TargetFullName="byExternal.UUID" />
        </External>
        <External FileName="byExternal.js" Language="JavaScript">
            <Class Name="encoders" TargetFullName="byExternal_encoders" />
            <Class Name="random" TargetFullName="byExternal_random" />
            <Class Name="security" TargetFullName="byExternal_security" />
        </External>
    </References>
</Ku>